/* * {
    border: 1px solid green;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.canvas {
    border: 10px solid gray;
    background-color: gray;
    min-width: 1000px;
    min-height: 625px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.box {
    margin: 3px;
}
/* container */
.left {
    background-color: gray;
    display: flex;
    flex: 1;
    flex-direction: column;
}
/* container */
.left-top-row {
    display: flex;
    flex: 1.18;
}
.left-top-row-1 {
    background-color: white;
    flex: 1;
}
.left-top-row-2 {
    background-color: white;
    flex: 2;
}
/* container */
.left-main-section {
    display: flex;
    flex: 9;
    flex-direction: row;
}
/* container */
.left-left-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.left-left-column-1 {
    background-color: white;
    flex: 1;
}
.left-left-column-2 {
    background-color: white;
    flex: 2;
}
.left-left-column-3 {
    background-color: yellow;
    flex: 2;
}
/* container */
.left-big-right-section {
    display: flex;
    flex: 4;
    flex-direction: column;
}
/* container */
.left-top-big-right-section {
    display:flex;
    flex: 3;
}
.left-big-square {
    background-color: red;
    flex: 1.88;
}
/* container */
.left-middle-section {
    display: flex;
    flex: 2;
}
.left-middle-section-left {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.left-middle-upper-small-square {
    background-color: black;
    flex: 2;
}
.left-middle-lower-small-square {
    background-color: white;
    flex: 2;
}
/* container */
.left-middle-right-rectangles {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.left-middle-right-rectangle-1 {
    background-color: white;
    flex: .95;
}
.left-middle-right-rectangle-2 {
    background-color: white;
    flex: 1;
}
/* container */
.left-bottom-section {
    display: flex;
    flex: 1;
}
/* container */
.left-bottom-left-section {
    display: flex;
    flex: 1;
}
/* .left-bottom-left-square {
    background-color: white;
    flex: 2;
} */
.left-bottom-left-rectangle {
    background-color: white;
    flex: .6;
}
/* container */
.left-bottom-right-section {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.left-bottom-right-single-rectangle {
    background-color: black;
    flex: 1;
}
/* container */
.left-bottom-right-dual-rectangles {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.left-bottom-right-dual-rectangle-1 {
    background-color: yellow;
    flex: 1
}
.left-bottom-right-dual-rectangle-2 {
    background-color: white;
    flex: 1
}

/* ~~~~~~~ MIDDLE ~~~~~~ */
/* container */
.middle {
    background-color: gray;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.middle-top {
    display: flex;
    flex: 1;
}
.middle-top-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.mtl-1 {
    background-color: yellow;
    flex: 1;
}
.mtl-2 {
    background-color: yellow;
    flex: 2;
}
.mtl-bot-half {
    display: flex;
    flex-direction: row;
    flex: 2;
}
.mtl-3 {
    background-color: white;
    flex: 1;
}
.mtl-4 {
    background-color: white;
    flex: 1;
}
.middle-top-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.mtr-1{
    flex: 2;
    background-color: blue;
}
.mtr-2{
    flex: 2;
    background-color: red;
}
.mtr-3{
    flex: 1;
    background-color: white;
}
.middle-bottom {
    display: flex;
    flex: 1;
}
.middle-bottom-left {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.mbl-1{
    flex: 1;
    background-color: white;
}
.mbl-2{
    flex: 2;
    background-color: blue;
}
.mbl-3{
    flex: 2;
    background-color: red;
}
.middle-bottom-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.mbr-top-half {
    display: flex;
    flex: 2;
}
.mbr-1{
    flex: 1;
    background-color: white;
}
.mbr-2{
    flex: 1;
    background-color: white;
}
.mbr-3{
    flex: 2;
    background-color: yellow;
}
.mbr-bottom-two{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.mbr-4{
    flex: 1;
    background-color: white;
}
.mbr-5{
    flex: 1;
    background-color: black;
}
/* container */
.right {
    background-color: gray;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.right-top {
    display: flex;
    flex-direction: row;
    flex: .5;
}
.right-top-1 {
    flex: 1;
    background-color: yellow;
}
.right-top-2 {
    flex: 1;
    background-color: black;
}
.right-top-3 {
    flex: 3.2;
    background-color: white;
}
/* container */
.right-middle{
    display: flex;
    flex-direction: row;
    flex: 4;
}
/* container */
.right-middle-left {
    display: flex;
    flex-direction: column;
    flex: 4;
}
/* container */
.right-above-big-box {
    display: flex;
    flex-direction: row;
    flex: 3;
}
/* container */
.right-b {
    display: flex;
    flex-direction: column;
    flex: 2;
}
.right-b-1 {
    flex: 1;
    background-color: yellow;
}
.right-b-2 {
    flex: 1;
    background-color: black;
}
.right-b-3 {
    flex: 1;
    background-color: white;
}
.right-b-4 {
    flex: 1;
    background-color: white;
}
/* container */
.right-c {
    display: flex; 
    flex-direction: column;
    flex: 2; 
}
.right-c-1 {
    flex: 1;
    background-color: white;
}
.right-c-2 {
    flex: 1;
    background-color: black;
}
.right-big-box {
    flex: 3;
    background-color: blue;
}
/* container */
.right-middle-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.right-mr-1 {
    flex: 2;
    background-color: yellow;
}
.right-mr-2 {
    flex: 2;
    background-color: white;
}
.right-mr-3 {
    flex: 1;
    background-color: white;
}
/* container */
.right-bottom {
    display: flex;
    flex-direction: row;
    flex: .5;
}
.right-bottom-1 {
    flex: 2;
    background-color: white;
}
.right-bottom-2 {
    flex: 1;
    background-color: white;
}